.title {
    font-size: 30px;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
  }
  .subtitle {
    font-size: 20px;
    color: black;
    padding-left: 50px;
    padding-bottom: 20px;
    font-weight: bold;
  }
  .paragraph
  {
    color: black;
  }
  .featureImage {
    height: 300px;
    width: 300px;
    flex: 0;
    padding-right: 40px;
    padding-left: 40px;
  }
  .column{
    display: flex; 
    flex-direction: column;
    flex: 1;
  }
  .row {
    padding-left: 50px;
    display: flex;
    align-items: left;
    justify-content: left;
  }