.title {
    font-size: 60px;
    color: purple;
    padding-left: 20px;
  }
  .subtitle {
    font-size: 20px;
    color: black;
    padding-left: 50px;
  }

  .paragraph
  {
    color: black;
  }

  .featureImage {
    height: 300px;
    width: 300px;
    flex: 0;
  }
  .column{
    display: flex; 
    flex-direction: column;
    flex: 1;  
  }
  .row {
    padding-left: 50px;
    display: flex;
    align-items: left;
    justify-content: left;
  }